@mixin size($height, $width){
    height: $height;
    width: $width;    
}

@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;  
}

@mixin grid ($gap, $column, $row: null){
    display: grid;
    gap: $gap;
    grid-template-columns: $column;

    @if($gap != null) {
        grid-template-rows: $row;
    }
}

@mixin area ($height, $area){
    height: $height;
    grid-area: $area;
}
