@mixin size($height, $width){
    height: $height;
    width: $width;    
}

@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;  
}

@mixin grid ($gap, $column, $row: null){
    display: grid;
    gap: $gap;
    grid-template-columns: $column;

    @if($gap != null) {
        grid-template-rows: $row;
    }
}

@mixin areatitle ($height, $area){
    height: $height;
    grid-area: $area;
    align-items: center;
    font-size: 25px;
}

@mixin area ($height, $area){
    height: $height;
    grid-area: $area;
}

@mixin breakpoint($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 0px 5px 10px 0px rgba(238, 204, 185);
}
