@use "base";
@use "layout";
@use "abstracts";

.cover {
  @include abstracts.size(100vh, 100%);
  background-image: url(img/cover.jpg);
  background-size: cover;
  background-color: #eeccb9;

  .text {
    @include abstracts.size(100vh, 100%);
    background: linear-gradient(
      rgba(26, 99, 38, 0.25),
      rgba(238, 204, 185, 0.25),
      rgba(246, 229, 220, 0.25)
    );
  }
}

.map {
  @include abstracts.size(100vh, 100%);
}