@use "base";
@use "layout";
@use "abstracts";
@use "components";

.cover {
  @include abstracts.size(100vh, 100%);
  background-image: url(img/cover.jpg);
  background-size: cover;
  background-color: #eeccb9;

  .text {
    @include abstracts.size(100vh, 100%);
    background: linear-gradient(
      rgba(26, 99, 38, 0.25),
      rgba(238, 204, 185, 0.25),
      rgba(246, 229, 220, 0.25)
    );
  }
}

.prez {
  margin: 60px ;
  text-align: justify;

  .info {
    padding: 20px;
  }

  .archive-planete {
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #eeccb9;

    &:hover {
      color: #000;
      background-color: #fff;
      border: 5px solid #eeccb9;
    }
  }

}

.map {
  margin: 50px 10px;
  padding: 10px;
  @include abstracts.flex(center, center);

  .img img {
    padding: 0 20px;
    @include abstracts.size(400px, auto);
  }
}