@use "../abstracts";


// FOOTER

.footer {
    background: rgba(246, 228, 219, 0.95);
    padding: 16px 32px;

    .reseaux {
        @include abstracts.flex(center, center);
        
        img {
            height: 50px;
            width: auto;
        }
    }

    a {
        color: #000;
        text-decoration: none;

        &:hover {
            color: #1a6326;
        }
    }
}