* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.menu {
  position: sticky;
  top: 0;
  height: 90px;
  width: 100%;
  background: rgba(246, 228, 219, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  backdrop-filter: blur(5px);
}
.menu img {
  height: 80px;
  width: auto;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 16px;
}
.menu ul .active {
  color: #42b755;
}
.menu ul a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
.menu ul a:hover {
  color: #1a6326;
}

.footer {
  background: rgba(246, 228, 219, 0.95);
  padding: 16px 32px;
}
.footer .reseaux {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .reseaux img {
  height: 50px;
  width: auto;
}
.footer a {
  color: #000;
  text-decoration: none;
}
.footer a:hover {
  color: #1a6326;
}

#btt {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgba(246, 228, 219, 0.5);
  backdrop-filter: blur(5px);
}

.musee {
  padding: 50px 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title" "bloc1 bloc2 bloc3" "bloc1 bloc2 bloc3";
}
.musee div {
  background-color: #eeccb9;
  display: flex;
  justify-content: center;
}
.musee .title {
  height: 50px;
  grid-area: title;
  align-items: center;
  font-size: 25px;
}
.musee .bloc1 {
  height: 60vh;
  grid-area: bloc1;
}
.musee .bloc1:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.musee .bloc1 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.musee .bloc2 {
  height: 60vh;
  grid-area: bloc2;
}
.musee .bloc2:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.musee .bloc2 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.musee .bloc3 {
  height: 60vh;
  grid-area: bloc3;
}
.musee .bloc3:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.musee .bloc3 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.foret1 {
  padding: 50px 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title" "bloc1 bloc1 bloc3" "bloc2 bloc2 bloc3";
}
.foret1 div {
  background-color: #eeccb9;
  display: flex;
  justify-content: center;
}
.foret1 .title {
  height: 50px;
  grid-area: title;
  align-items: center;
  font-size: 25px;
}
.foret1 .bloc1 {
  height: 30vh;
  grid-area: bloc1;
}
.foret1 .bloc1:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.foret1 .bloc1 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.foret1 .bloc2 {
  height: 30vh;
  grid-area: bloc2;
}
.foret1 .bloc2:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.foret1 .bloc2 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.foret1 .bloc3 {
  height: calc(60vh + 20px);
  grid-area: bloc3;
}
.foret1 .bloc3:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.foret1 .bloc3 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.jardinf {
  padding: 50px 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title" "bloc1 bloc2 bloc3" "bloc1 bloc4 bloc4" "bloc5 bloc5 bloc5";
}
.jardinf div {
  background-color: #eeccb9;
  display: flex;
  justify-content: center;
}
.jardinf .title {
  height: 50px;
  grid-area: title;
  align-items: center;
  font-size: 25px;
}
.jardinf .bloc1 {
  height: calc(60vh + 20px);
  grid-area: bloc1;
}
.jardinf .bloc1:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardinf .bloc1 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardinf .bloc2 {
  height: 30vh;
  grid-area: bloc2;
}
.jardinf .bloc2:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardinf .bloc2 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardinf .bloc3 {
  height: 30vh;
  grid-area: bloc3;
}
.jardinf .bloc3:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardinf .bloc3 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardinf .bloc4 {
  height: 30vh;
  grid-area: bloc4;
}
.jardinf .bloc4:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardinf .bloc4 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardinf .bloc5 {
  height: 30vh;
  grid-area: bloc5;
}
.jardinf .bloc5:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardinf .bloc5 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.jardina {
  padding: 50px 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title" "bloc1 bloc1 bloc2" "bloc3 bloc4 bloc4";
}
.jardina div {
  background-color: #eeccb9;
  display: flex;
  justify-content: center;
}
.jardina .title {
  height: 50px;
  grid-area: title;
  align-items: center;
  font-size: 25px;
}
.jardina .bloc1 {
  height: 30vh;
  grid-area: bloc1;
}
.jardina .bloc1:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardina .bloc1 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardina .bloc2 {
  height: 30vh;
  grid-area: bloc2;
}
.jardina .bloc2:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardina .bloc2 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardina .bloc3 {
  height: 30vh;
  grid-area: bloc3;
}
.jardina .bloc3:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardina .bloc3 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.jardina .bloc4 {
  height: 30vh;
  grid-area: bloc4;
}
.jardina .bloc4:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.jardina .bloc4 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.village {
  padding: 50px 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title title title" "bloc1 bloc3 bloc2" "bloc1 bloc3 bloc2" "bloc4 bloc3 bloc5" "bloc6 bloc6 bloc5" "bloc7 bloc8 bloc9";
}
.village div {
  background-color: #eeccb9;
  display: flex;
  justify-content: center;
}
.village .title {
  height: 50px;
  grid-area: title;
  align-items: center;
  font-size: 25px;
}
.village .bloc1 {
  height: 60vh;
  grid-area: bloc1;
}
.village .bloc1:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc1 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc2 {
  height: 60vh;
  grid-area: bloc2;
}
.village .bloc2:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc2 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc3 {
  height: calc(90vh + 40px);
  grid-area: bloc3;
}
.village .bloc3:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc3 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc4 {
  height: 30vh;
  grid-area: bloc4;
}
.village .bloc4:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc4 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc5 {
  height: calc(60vh + 20px);
  grid-area: bloc5;
}
.village .bloc5:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc5 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc6 {
  height: 30vh;
  grid-area: bloc6;
}
.village .bloc6:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc6 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc7 {
  height: 30vh;
  grid-area: bloc7;
}
.village .bloc7:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc7 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc8 {
  height: 30vh;
  grid-area: bloc8;
}
.village .bloc8:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc8 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.village .bloc9 {
  height: 30vh;
  grid-area: bloc9;
}
.village .bloc9:hover {
  box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
}
.village .bloc9 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.cover {
  height: 100vh;
  width: 100%;
  background-image: url(img/cover.jpg);
  background-size: cover;
  background-color: #eeccb9;
}
.cover .text {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(26, 99, 38, 0.25), rgba(238, 204, 185, 0.25), rgba(246, 229, 220, 0.25));
}

.prez {
  margin: 60px;
  text-align: justify;
}
.prez .info {
  padding: 20px;
}
.prez .archive-planete {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #eeccb9;
}
.prez .archive-planete:hover {
  color: #000;
  background-color: #fff;
  border: 5px solid #eeccb9;
}
@media screen and (max-width: 900px) {
  .prez .archive-planete:hover {
    border: 0px solid #eeccb9;
    box-shadow: 0px 5px 10px 0px rgb(238, 204, 185);
  }
}

.map {
  margin: 50px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map .img img {
  padding: 0 20px;
  height: 400px;
  width: auto;
}
.map .direction {
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .map .direction {
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .map {
    flex-direction: column;
    text-align: center;
  }
}

.perso {
  padding: 20px 30px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
.perso div {
  padding: 30px;
}
.perso .one {
  background-color: #f6e4db;
  font-size: large;
  font-weight: bold;
}
.perso .two {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .perso {
    flex-direction: column;
  }
}

.description {
  padding: 25px 50px;
  text-align: justify;
}

.museum, .garden {
  height: auto;
  width: 100%;
  padding: 30px 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 30vh 30vh 30vh;
}
.museum div, .garden div {
  display: flex;
  justify-content: center;
}
.museum .titre, .garden .titre {
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: 30px;
  align-items: center;
}
.museum .text, .garden .text {
  grid-column: 1/4;
  grid-row: 2/4;
  text-align: justify;
  align-items: center;
  padding: 20px 50px;
}
.museum .img0, .garden .img0 {
  grid-column: 4/5;
  grid-row: 2/4;
}
.museum .img0 > img, .garden .img0 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.museum .img1, .garden .img1 {
  grid-column: 1/5;
  grid-row: 4/5;
}
.museum .img1 > img, .garden .img1 > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
