@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cover {
    @include mixins.size(100vh, 100%);
    background-image: url(../img/cover.jpg);
    background-size: cover;
    background-color: #eeccb9;

    .text {
        @include mixins.size(100vh, 100%);
        background: linear-gradient(
          rgba(26, 99, 38, 0.25),
          rgba(238, 204, 185, 0.25),
          rgba(246, 229, 220, 0.25)
        );
    }
}


// HEADER

.menu {
    position: sticky;
    top: 0;
    @include mixins.size(90px, 100%);
    background: #f6e5dc;
    @include mixins.flex(space-between, center);
    padding: 16px 100px;

    img {
        @include mixins.size(80px, auto);
    }

    ul {
        display: flex;
        list-style: none;
        gap: 16px;

        .active {
            color: #42b755;
        }

        a {
            color: #000;
            text-decoration: none;
            font-size: 20px;

            &:hover {
                color: #1a6326;
            }
        }
    }
}


// FOOTER

.footer {
    background: #f6e5dc;
    padding: 16px 32px;

    .reseaux {
        @include mixins.flex(center, center);
        
        img {
            height: 70px;
            width: auto;
        }
    }
}

.map {
    @include mixins.size(100vh, 100%);
}